@charset "utf-8";
body{
	margin:auto;
	text-align:center;
	}

#rodape {
	clear: both;
	margin: 0;
	padding: 20px;
	background-color: white;
	border-top: white;
}	

#base {
	width: 970px;
	margin: 0 auto;
	background-color: #fff;
	color: #333;
	border: 1px solid gray;
	font-family: Tahoma, Arial, Verdana;
}
	
nav {
	margin-op:60px;
	left:0;
	right:0;
    z-index: 20;
    background: white;
    position: absolute;
  }

  nav li {
    display: inline;
    padding-right: 1em;
  }
  
  nav a {
    background:black; 
    padding: 5px 10px;
    border-radius: 3px;
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
  }
  nav a:hover{
    background: red;
  }

 .slideshow {
	 margin:auto;
	padding-top:160px;
    position: relative;
    height: 333px;
    width: 500px;
  	overflow: hidden;
  }
 .target {
  position: absolute;
  top: 160px;
  right:500px;
  height: 333px;
  width: 500px;
  overflow: hidden;
 }
  .target:target {
	left:-22px;
 }